<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h2>Enter 1st number</h2>
    <input type="number" ng-model="num1">
    <h2>Enter 2nd number</h2>
    <input type="number" ng-model="num2" style="margin-bottom: 20px;">
    <br>
    <button style="display: block;" onclick="addition()">Find Addition</button>
    <button style="display: block;" onclick="subtraction()">Find Subtraction</button>
    <button style="display: block;" onclick="multiplication()">Find Multiplication</button>
    <button style="display: block;" onclick="division()">Find Division</button>
    <!-- <h3>The answer is:</h3> -->
    <h2 id="result"></h2>
    <script src="calc.js"></script>
</body>
</html>
<!-- This is the change -->
<!-- <h1>This is change from local</h1> -->